$lightGreen : #B9E7E7;

* {
    margin: 0;
    padding: 0;
}

.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: $lightGreen;
}